$main-background: #D7FFF1;
$logo_background: #508470;
$sidebar-background: #FFFFFF;
$header-background: #4BA68D;
$user-background: #FFFFFF;
$frame-background: #FFFFFF;
$button-background: #508470;
$logo_background_hover: #385C4E;
$button-color: #FFFFFF;
$so-color: #8CD790;
$szd-color: #FFFFFF;
$primary_font: Cabin;
$button-border-radius: 15px;

//kolory do logowania
$backgroundGreen: #D7FFF1;
$lightGreen: #8CD790;
$darkGreen: #4BA68D;
$darkerGreen: #285943;

@import "~bootstrap";
@import "~@fontsource/cabin/700.css";
@import "~@fontsource/cabin/400.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

//1920 x 1080
//1366 x 768

:root {
    overflow: hidden;

    font-size: 16px;

    @media (max-width: 1538px) {
        font-size: 12px;
    }

    @media (max-width: 1367px) {
        font-size: 10px;
    }

    @media (max-width: 1025px) {
        font-size: 8px;
    }
}

.navbar {
    height: 100vh;
    position: fixed;
    width: 18vw;

    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;

    font-family: $primary_font;

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    &__logo {
        height: 18%;
        width: 18vw;
        display: block;
        z-index: 1;



        background-color: $logo-background;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

        font-size: 4.7rem;
        text-align: center;
        font-style: normal;
        font-weight: 600;

        &--img {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            height: 100%;

            a {
                text-decoration: none;
            }
        }

        &--img:hover {
            background-color: $logo_background_hover;

        }
    }

    &__sidebar {
        width: 18vw;
        height: 82%;
        background-color: $sidebar-background;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            li {
                margin: 1rem;
            }

        }


    }

    &__nazwa_1 {
        color: $so_color;
    }

    &__nazwa_2 {
        color: $szd_color;
    }


    &__sidebar--button {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 15vw;
        height: 8vh;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        border: 0;

        font-family: "Cabin", serif;
        text-align: center;
        font-weight: 400;
        font-size: 2.25rem;
    }

    &__sidebar--button:hover {
        background-color: #CDCDCD;
    }

    &__sidebar--button1 {
        margin-top: 3vw;
    }
}



.header {
    box-sizing: border-box;
    background-color: $header-background;
    height: 9vh;

    &__logged-user {
        margin-top: 1.8vh;
        margin-right: 1.5vw;
        border-radius: 25px;
        float: right;
        width: 9vw;
        height: 5.5vh;
        text-align: center;
        padding-right: 1vw;
        padding-left: 1vw;
        font-style: normal;
        font-weight: 600;
        font-size: 1.1875rem;
        background-color: $user-background;

        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    &__smallfont {
        margin-top: 1.5vh;
        margin-right: 1.5vw;
        border-radius: 25px;
        float: right;
        width: 4vw;
        height: 6vh;
        text-align: center;
        font-size: 3rem;
        background-color: $user-background;

        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    &__largefont {
        margin-top: 1.5vh;
        margin-right: 1.5vw;
        border-radius: 25px;
        float: right;
        width: 4vw;
        height: 6vh;
        text-align: center;
        font-size: 0.93rem;
        background-color: $user-background;

        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    &__contrast {
        margin-top: 1.5vh;
        margin-right: 1.5vw;
        border-radius: 25px;
        float: right;
        width: 4vw;
        height: 6vh;
        text-align: center;
        font-size: 0.9375rem;
        background-color: $user-background;

        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    i:hover {
        cursor: pointer;
    }
}



.main {
    height: 91vh;
    background-color: $main-background;
    width: 100vw;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .main__h1 {
        margin-right: 30vw;
        margin-bottom: 1vw;
        font-size: 3.5rem;
    }

    main {
        font-family: $primary_font;
        background-color: $frame-background;
        height: 74vh;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 70vw;
        margin-left: 17.5vw;
        padding: 1vw;
        line-height: 24px;


        th {
            padding-bottom: 2vh;
        }

        td {
            padding-right: 2vw;
        }

        thead {
            font-style: normal;
            font-weight: 700;
            font-size: 1.75rem;
        }

        tbody {
            font-size: 1.1rem;
        }

        tr {
            height: 2.7vh;
        }

        a {
            text-decoration: none;
            color: #000000;
        }



    }


}

.create-ticket {
    &--topic, &--deadline{
        padding:3px;
        border-radius: 15px;
        width:25vw;
    }

    &--topic{
        margin-left:0.7vw;
    }

    &--deadline{
        margin-left:0.5vw;
        margin-top:1vh;
    }

    &--content{
        margin-left:0.5vw;
        padding:5px;
        border-radius: 15px;
        width:64vw;
        height:52vh;
    }

    &--select{
        margin-top:1vh;
        border-radius: 15px;
    }

    &--label_opis{
        margin-top:1vh;
    }

}

.login {
    background-color: $backgroundGreen;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 3fr 1fr 2fr;
        grid-column-gap: 0;
        grid-row-gap: 0;

        text-align: center;

        width: 69vw;
        height: 72vh;

        background-color: $darkGreen;
        border-radius: 1.8vh;
        filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25));
    }

    &__iconbox {
        height: 7vh;
        width: 20vh;

        align-self: flex-end;
        margin-right: 1vw;
        margin-top: 1vw;

        display: flex;
        justify-content: space-between;
    }

    &__icon {
        background-color: $darkerGreen;
        height: 6vh;
        width: 6vh;
        border-radius: 2vh;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-size: 0.5rem;
    }

    &__smallfont {
        font-size: 1.1rem;
    }



    &__logo {
        width: 17vw;
    }

    &__inputbox {
        width: 100%;
        height: 14vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__input {
        background: #FFFFFF;
        height: 5vh;
        width: 50vw;
        font-size: 1rem;
        padding: 0 1vw;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2vh;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__button {
        width: 20vh;
        height: 8vh;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;

        background: #8CD790;
        box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 2vh;
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.searchbar {
    display: flex;
    flex-wrap: nowrap;
    height: 3.5vh;

    &__input {
        height: 100%;
    }

    &__button {
        height: 100%;
    }
}

