@import "~bootstrap";
@import "~@fontsource/cabin/700.css";
@import "~@fontsource/cabin/400.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    all: unset;

    &:hover {
        color: inherit;
    }
}

img {
    width: 100%;
}

.color-red {
    color: red;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.bounce {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-10px); }
}

.shake {
    animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: rotate(4deg); }
    33% { transform: rotate(-4deg); }
    66% { transform: rotate(-4deg); }
    100% { transform: rotate(4deg); }
}

.cursor-pointer {
    cursor: pointer;
}
